// _colors.scss
// vars for hex values ~

//  background color
$pastel-yellow: #fdfcf1;

// f yeah lavender
$lavender: #ccccff;
$lavender-rgba: rgba(204,205,255,0.95);

// text colors
$dark-grey: #282828;
$link: #4e4e4e;

// on-hover color
$wheat: wheat;
