// shoutout to the league of movable type for this sweet, sweet font
// https://www.theleagueofmoveabletype.com/fanwood

@font-face {
  font-family: 'Fanwood Regular';
  src: url('../fonts/fanwood/fanwood-webfont.eot');
  src: url('../fonts/fanwood/fanwood-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/fanwood/fanwood-webfont.woff') format('woff'),
       url('../fonts/fanwood/fanwood-webfont.ttf') format('truetype'),
       url('../fonts/fanwood/fanwood-webfont.svg#FanwoodRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Fanwood Regular';
  src: url('../fonts/fanwood/fanwood_italic-webfont.eot');
  src: url('../fonts/fanwood/fanwood_italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/fanwood/fanwood_italic-webfont.woff') format('woff'),
       url('../fonts/fanwood/fanwood_italic-webfont.ttf') format('truetype'),
       url('../fonts/fanwood/fanwood_italic-webfont.svg#FanwoodRegular') format('svg');
  font-weight: normal;
  font-style: italic;
}
